/* base css */
body{font-family:sans-serif;}
.container{width:100%;color:#000000;}
.navbar{margin-bottom:0px;min-height:40px;height:40px;border:0px;}
.navbar-brand{padding:0px 15px;font-size:18px;line-height:40px;height:40px;}
.navbar-default{background-color:#323B55;}
.navbar-default .navbar-nav>li>a{padding:0px 15px;height:40px;line-height:40px;}
.navbar-default a.navbar-brand,.navbar-default a.navbar-brand:hover{color:#ffffff;}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-text,.navbar-default .navbar-text:hover{color:#ffffff;}
.align-right{text-align:right;}
.admin-btn{padding:4px 10px;font-size:12px;}
.del-data{padding:2px 10px;font-size:12px;}
i.fa{margin-right:5px;}
.panel-admin .panel-heading{height:40px;line-height:40px;padding:0px;margin-top:6px;}
.form-horizontal .control-label{width:135px;float:left;}
.form-horizontal .control-content{float:left;margin-right:10px;}
.modal-content .form-horizontal input,.modal-content .form-horizontal select{width:400px;}
.form-horizontal textarea{width:400px;height:150px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{padding:5px;height:25px;line-height:25px;vertical-align:middle}
.panel-body{padding-left:20px;}
input[class=all-check]{margin-right:5px;}

/* login css */
#app-layout{background-color:#323B55;}
.login-container{margin:300px auto 0px auto;width:300px;}
.login-container .login-title{text-align:center;font-size:24px;font-weight:bold;color:#ffffff;}
.login-container .form-group{margin-bottom:5px;}
.login-container .panel-body{padding:15px 15px 5px 15px;}
.login-container .panel{background-color:transparent;border:0px;box-shadow:0 0 0 rgba(0,0,0,.05)}
.login-container .login-btn {
    width: 100%;
    height: 50px;
    margin-top: 7px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px -1px 0px #5b6ddc;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;

    background-color: #5466da;
    background-image: -webkit-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -o-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -ms-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: linear-gradient(bottom, #5466da 0%, #768ee4 100%);

    -webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
    box-shadow: inset 0px 1px 0px #9ab1ec;

    cursor: pointer;

    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.login-container .login-btn:hover {
    background-color: #5f73e9;
    background-image: -webkit-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: -moz-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: -o-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: -ms-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: linear-gradient(bottom, #5f73e9 0%, #859bef 100%);

    -webkit-box-shadow: inset 0px 1px 0px #aab9f4;
    box-shadow: inset 0px 1px 0px #aab9f4;
    margin-top: 10px;
}

.login-container .login-btn:active {
    background-color: #7588e1;
    background-image: -webkit-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: -moz-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: -o-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: -ms-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
    background-image: linear-gradient(bottom, #7588e1 0%, #7184df 100%);

    -webkit-box-shadow: inset 0px 1px 0px #93a9e9;
    box-shadow: inset 0px 1px 0px #93a9e9;
}

/* left menu aside */
.big-page .left-menu-aside{left:-200px;}
.left-menu-aside{position:absolute;top:44px;bottom:0;left:0;width:199px;z-index:99;overflow:auto;background-color:rgba(238,238,238,0.98);border-right:1px solid #e5e5e5;}
.left-menu-aside .menu_dropdown ul{margin:0px;padding:0px;}
.left-menu-aside .menu_dropdown ul li{list-style:none;height:35px;line-height:35px;margin:2px 0px;}
.left-menu-aside .menu_dropdown ul li:hover,.left-menu-aside .menu_dropdown ul li.active{background-color:#ffffff;}
.left-menu-aside .menu_dropdown ul li i{margin-left:15px;}
.left-menu-aside .menu_dropdown ul li a,.left-menu-aside .menu_dropdown ul li a:hover{color:#333;text-decoration:none;}

/* right content box */
.big-page .right-content-box,.big-page .dislpayArrow,.big-page .breadcrumb{left:0px;}
.right-content-box{position:absolute;top:44px;right:0;bottom:0;left:199px;overflow:hidden;background-color:#fff;}
.right-content-box .col-md-12{padding:0px;}
.right-content-box .col-md-12 .panel-default{border:0px;}

/* left menu aside toggle */
.left-menu-aside,.right-content-box,.dislpayArrow{
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.dislpayArrow{position:absolute;top:0;bottom:0;left:199px;width:0px;height:100%;z-index:10}
.dislpayArrow a{position:absolute;display:block;width:17px;height:61px;top:50%;margin-top:-30px;outline:none;background:url("../images/icon_arrow.png") no-repeat 0 0}
.dislpayArrow a.open{background-position:0 -61px}
.dislpayArrow a:hover{text-decoration:none;background-position:right 0}
.dislpayArrow a.open:hover{background-position:right -61px}

/* uploader container */
#drag-and-drop-zone{margin:10px;}
.panel-files{max-height:200px;min-height:200px;overflow:auto;cursor:default;font-size:12px;}
.right-content-box .col-md-12 .modal-dialog .panel-default{border:1px solid #dddddd;margin:10px;}
.right-content-box .col-md-12 .panel-admin .modal-dialog .panel-heading{margin-top:0px;padding:10px 15px;color:#333333;background-color:#f5f5f5;border-color:#dddddd;}
.modal-dialog .panel{margin-bottom:20px;border-radius:4px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.05);}
.uploader{
    border: 2px dotted #A5A5C7;
    color: #92AAB0;
    text-align: center;
    vertical-align: middle;
    padding: 30px 0px;
    margin-bottom: 10px;
    font-size: 200%;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.uploader div.or{font-size:50%;font-weight:bold;color:#C0C0C0;padding:10px;}
.uploader div.browser label{
    background-color: #5a7bc2;
    padding: 5px 15px;
    color: white;
    padding: 6px 0px;
    font-size: 40%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    display: block;
    width: 300px;
    margin: 20px auto 0px auto;
    box-shadow: 2px 2px 2px #888888;
}
.uploader div.browser span{cursor:pointer;}
.uploader div.browser input{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: .0;
    filter: alpha(opacity= 0);
    -o-transform: translate(250px,-50px) scale(1);
    -moz-transform: translate(-300px,0) scale(4);
    direction: ltr;
    cursor: pointer;
}
.uploader div.browser label:hover{background-color:#427fed;}
.uploader-image-preview{
    float:left;
    margin-right: 10px;
    margin-top: 4px;
    height: 56px;
    width: 56px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* album image list */
.album-list-container{margin-bottom:5px;padding:0px;}
.album-list-container h3{
    font-size:14px;
    padding:0px 20px;
    font-weight:bold;
    height: 35px;
    line-height: 35px;
    background: #f2f6fd;
    margin: 0 5px 5px 0;
    cursor: pointer;
    display: block;
}
.album-list-container h3 em{margin-left:5px;color:#a4acc2;font-weight:normal;font-family:normal;font-style:normal;}
.album-list-container h3 i{margin-left:10px;}
.album-list-container .open .album-img-list{display:block;}
.album-list-container .closed .album-img-list{display:none;}
.album-list-container i{transition-duration:0.3s;transition-property:all;}
.album-list-container .closed i{transform:rotate(-180deg);}
.album-list-container .col-sm-12{padding:0px;}
.album-list-container .left{width:50%;float:left;}
.album-list-container .right{width:50%;float:right;text-align:right;}
.album-img-list{float:left;margin:0px 10px 5px 0px;position:relative;}
.album-img-list img{height:110px;display:inline-block;padding:5px;border:2px solid #ffffff;margin-bottom:5px;}
.album-img-list img.selected{border:2px solid #ddd;}
.album-img-list a,.album-img-list a:hover{text-decoration:none;}
.btn-move-album,.btn-delete-pic,.btn-download-pic{display:none;}
.album-list-container h3 .btn-delete-album{padding:2px 5px;font-size:10px;margin-right:5px;}
.album-list-container h3 .btn-delete-album i{margin:0px 5px 0px 0px;}

/* file list container */
.file-list-container label{font-weight:normal;margin-left:5px;font-size:12px;}
.file-list-container img{margin-top:-5px;}
.btn-move-file,.btn-delete-file{display:none;}
.fold-list a{color:#333;}
